#root {
  background-color: #ffffff;
}

.calendar {
  width: 100%;

  .date {
    min-height: 50px;
  }
}

.holiday {
  position: relative;
  background-color: #9fbff8;

  abbr {
    font-weight: bold;
  }

  .name {
    word-break: break-word;
    font-size: 10px;
  }
}

.hasNotes {
  abbr {
    text-decoration: underline;
  }
}
